html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .header {
  width: 100%;
  height: 2.4rem;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.wrapper .header .header-t {
  height: 1.33333rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.33333rem;
}

.wrapper .header .header-t .cen input {
  width: 6.4rem;
  background: #fff;
  color: grey;
  height: 1.06667rem;
  text-align: center;
}

.wrapper .header .header-t .left i {
  font-size: 0.53333rem;
  color: #f90;
}

.wrapper .header .header-t .right i {
  font-size: 0.53333rem;
  color: #555;
}

.wrapper .header .header-b {
  width: 100%;
  height: 1.06667rem;
  display: flex;
}

.wrapper .header .header-b ul {
  display: flex;
  width: 100%;
}

.wrapper .header .header-b ul li {
  flex-shrink: 0;
  margin-left: 0.48rem;
  line-height: 1.2rem;
}

.wrapper .main {
  flex: 1;
}

.wrapper .main .run {
  width: 100%;
  height: 3.2rem;
  display: flex;
}

.wrapper .main .run dl {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-left: 0.32rem;
}

.wrapper .main .run dl dt img {
  width: 2.66667rem;
  height: 2.4rem;
}

.wrapper .main .run dl dd {
  text-align: center;
  font-size: 0.37333rem;
}

.wrapper .main .pic {
  width: 100%;
}

.wrapper .main .pic img {
  width: 100%;
  height: 2.93333rem;
}

.wrapper .main .chose {
  width: 100%;
}

.wrapper .main .chose img {
  width: 100%;
  height: 4.69333rem;
}
